@font-face {
  font-family: 'upheaval';
  src: url('./assets/fonts/upheavtt.ttf') format('truetype');
}

/* will need to improve this if we're supporting multiple font weights and types */
@font-face {
  font-family: 'Helvetica';
  src: url('./assets/fonts/helvetica/HelveticaNeueRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'Helvetica Pro';
  src: url('./assets/fonts/helvetica/HelveticaNeueLTProMd.otf') format('openType');
  font-weight: normal;
}

@font-face {
  font-family: 'Helvetica Pro';
  src: url('./assets/fonts/helvetica/HelveticaNeueLTProBd.otf') format('openType');
  font-weight: bold;
}

@font-face {
  font-family: 'Helvetica Pro Outlined';
  src: url('./assets/fonts/helvetica/HelveticaNeueLTProBdOu.otf') format('openType');
}

body {
  margin: 0;
  font-family: 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
